src/flows/Community_Accept_Terms_and_Conditions-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>I_Accept_Terms_and_Conditions</name>
        <choiceText>I Accept Terms and Conditions</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Check to see if the user already accepted terms ad conditions</description>
        <name>Terms_and_Conditions_Accepted</name>
        <label>Terms and Conditions Accepted?</label>
        <locationX>538</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Terms_and_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Send to terms and conditions screen</defaultConnectorLabel>
        <rules>
            <name>Yes_Login</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.CS_Terms_Conditions_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Login</label>
        </rules>
    </decisions>
    <description>Loin flow for communities to accept terms and conditions</description>
    <interviewLabel>Community - Accept Terms and Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community - Accept Terms and Conditions</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>536</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terms_and_Conditions_Accepted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>CS_Terms_Conditions_Last_Accepted__c</queriedFields>
        <queriedFields>CS_Terms_Conditions_Accepted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>548</locationX>
        <locationY>608</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Terms_Conditions_Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Terms_Conditions_Last_Accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <description>Terms and conditions for User community</description>
        <name>Terms_and_Conditions</name>
        <label>Terms and Conditions</label>
        <locationX>543</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>TermsAndConditions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Terms and Conditions&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at dui pellentesque, posuere libero eget, maximus quam. Nullam ut efficitur magna, sit amet dictum enim. Vivamus non pellentesque felis. Fusce molestie dui ac accumsan dapibus. Praesent neque ex, iaculis eu augue in, lobortis mollis urna. Duis tincidunt aliquam leo, dictum dapibus nisl convallis non. Integer vitae lacus nec augue interdum dapibus. Morbi a elit at massa viverra sagittis. Suspendisse blandit magna dolor, aliquet suscipit eros pellentesque quis. Sed semper est et est tempus blandit. Cras venenatis tortor ut leo vehicula, sed semper nibh dictum. Aenean porta sem ut ligula faucibus blandit. Sed a hendrerit elit. Mauris a fermentum nisi, eget dapibus dolor.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Quisque eget suscipit mauris. Curabitur sit amet velit sit amet leo dictum semper ut et erat. Nullam facilisis commodo dui et tempor. Phasellus sed risus leo. Vivamus magna dolor, vehicula mollis blandit et, ornare eget augue. Donec gravida nulla sed dignissim semper. Proin ultrices tristique metus quis placerat. Nulla ac malesuada ipsum, et congue dolor. Aenean mauris magna, elementum id interdum sed, interdum in nisi. Sed vel vestibulum erat. Pellentesque ultricies id risus at pellentesque. Nullam accumsan scelerisque mauris, quis accumsan dui imperdiet non. Donec sodales massa ut magna interdum, in lacinia elit volutpat.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_Accept_Field</name>
            <choiceReferences>I_Accept_Terms_and_Conditions</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Find_User</startElementReference>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
