src/flows/Email_Notification_Community_Access_Request-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Community_Access_Request_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email - Production</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Community_Access_Request__c.Community_Access_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Community_Access_Request_Implementation_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email Support Team</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Community_Access_Request__c.Community_Access_Request_Implementation_Customer</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Community_Access_Request_Implementation_Not_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email Implementation team</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Community_Access_Request__c.Community_Access_Request_Implementation_Not_Customer</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Community_Access_Request_Partner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email Partner Team</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Community_Access_Request__c.Community_Access_Request_Partner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Community_Access_Request_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Deactivation Email</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Community_Access_Request__c.Community_Access_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Access Production</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Access Implementation - Customer</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Access Implementation - Not Customer</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Access Partner</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Deactivate Request</label>
        </rules>
    </decisions>
    <description>Emails routing for Community Access request.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( OR( ISNEW(), ISCHANGED([Community_Access_Request__c].Access_Type__c)), ISPICKVAL([Community_Access_Request__c].Access_Type__c,&apos;Production&apos;)  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( OR( ISNEW(), ISCHANGED({!myVariable_current.Access_Type__c})), ISPICKVAL({!myVariable_current.Access_Type__c},&apos;Production&apos;)  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( OR( ISNEW(), ISCHANGED([Community_Access_Request__c].Access_Type__c)), ISPICKVAL([Community_Access_Request__c].Access_Type__c,&apos;Implementation&apos;),
OR( ISPICKVAL([Community_Access_Request__c].BillingCenter_Access_type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].BillingCenter_Access_type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].ClaimCenter_Access_type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].ClaimCenter_Access_type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].Data_Management_Access_type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].Data_Management_Access_type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].Digital_Portals_Access_type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].Digital_Portals_Access_type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].GW_Live_Access_Type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].GW_Live_Access_Type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].PolicyCenter_Access_type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].PolicyCenter_Access_type__c,&apos;Customer Support (View Only)&apos;),
ISPICKVAL([Community_Access_Request__c].Predictive_Analytics_Access_Type__c,&apos;Customer Support&apos;),ISPICKVAL([Community_Access_Request__c].Predictive_Analytics_Access_Type__c,&apos;Customer Support (View Only)&apos;)
) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND( OR( ISNEW(), ISCHANGED({!myVariable_current.Access_Type__c})), ISPICKVAL({!myVariable_current.Access_Type__c},&apos;Implementation&apos;),
OR( ISPICKVAL({!myVariable_current.BillingCenter_Access_type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.BillingCenter_Access_type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.ClaimCenter_Access_type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.ClaimCenter_Access_type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.Data_Management_Access_type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.Data_Management_Access_type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.Digital_Portals_Access_type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.Digital_Portals_Access_type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.GW_Live_Access_Type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.GW_Live_Access_Type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.PolicyCenter_Access_type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.PolicyCenter_Access_type__c},&apos;Customer Support (View Only)&apos;),
ISPICKVAL({!myVariable_current.Predictive_Analytics_Access_Type__c},&apos;Customer Support&apos;),ISPICKVAL({!myVariable_current.Predictive_Analytics_Access_Type__c},&apos;Customer Support (View Only)&apos;)
) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( OR( ISNEW(), ISCHANGED([Community_Access_Request__c].Access_Type__c)), ISPICKVAL([Community_Access_Request__c].Access_Type__c,&apos;Implementation&apos;),
OR(  NOT(ISPICKVAL([Community_Access_Request__c].BillingCenter_Access_type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].BillingCenter_Access_type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].ClaimCenter_Access_type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].ClaimCenter_Access_type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].Data_Management_Access_type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].Data_Management_Access_type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].Digital_Portals_Access_type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].Digital_Portals_Access_type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].GW_Live_Access_Type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].GW_Live_Access_Type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].PolicyCenter_Access_type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].PolicyCenter_Access_type__c,&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL([Community_Access_Request__c].Predictive_Analytics_Access_Type__c,&apos;Customer Support&apos;)),NOT(ISPICKVAL([Community_Access_Request__c].Predictive_Analytics_Access_Type__c,&apos;Customer Support (View Only)&apos;))

) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND( OR( ISNEW(), ISCHANGED({!myVariable_current.Access_Type__c})), ISPICKVAL({!myVariable_current.Access_Type__c},&apos;Implementation&apos;),
OR(  NOT(ISPICKVAL({!myVariable_current.BillingCenter_Access_type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.BillingCenter_Access_type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.ClaimCenter_Access_type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.ClaimCenter_Access_type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.Data_Management_Access_type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.Data_Management_Access_type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.Digital_Portals_Access_type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.Digital_Portals_Access_type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.GW_Live_Access_Type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.GW_Live_Access_Type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.PolicyCenter_Access_type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.PolicyCenter_Access_type__c},&apos;Customer Support (View Only)&apos;)),
NOT(ISPICKVAL({!myVariable_current.Predictive_Analytics_Access_Type__c},&apos;Customer Support&apos;)),NOT(ISPICKVAL({!myVariable_current.Predictive_Analytics_Access_Type__c},&apos;Customer Support (View Only)&apos;))

) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR( ISNEW(), ISCHANGED([Community_Access_Request__c].Access_Type__c)), ISPICKVAL([Community_Access_Request__c].Access_Type__c,&apos;Partner&apos;) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR( ISNEW(), ISCHANGED({!myVariable_current.Access_Type__c})), ISPICKVAL({!myVariable_current.Access_Type__c},&apos;Partner&apos;) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Community_Access_Request__c].Disable_Account__c = true </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Disable_Account__c} = true</expression>
    </formulas>
    <interviewLabel>Email_Notification_Community_Access_Request-3_Community_Access_Request__c</interviewLabel>
    <label>Email Notification - Community Access Request</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Community_Access_Request__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Community_Access_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Community_Access_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
